* {
  box-sizing: border-box;
}

body {
  max-width: 850px;
  width: 100%;
  margin: 0 auto;

  .top-page {
    border: 3px solid black;
    margin-top: 50px;
}


    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: sans-serif;
      font-weight: 400;
    }

    h1 {
      font-size: 5.4rem;
    }

    h2 {
      font-size: 2.4rem;
    }

    p {
      font-size: 1.6rem;
    }

    a {
      font-size: 1.6rem;
    }

    strong {
      font-family: @highlight;
    }
  }
